html, body {
    margin: 1%;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}

.item-img {
    opacity: 0.5;
    border-radius: 15%;
    width: 100%;
    height: 100%;
    transition-duration: 0.15s;
    mask-image: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.5) 100%);
}
.item-img:hover {
    opacity: 1;
    transition-duration: 0.15s;
    cursor: pointer;
}


.container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 3%;
    display: flex;
}

.container > * {
    margin: 1.5% 0;
}

.item {
    aspect-ratio: 1;
    width: 20%;
    border-radius: 15%;
    background-color: rgba(0, 0, 0, 0.7);
}

#tic-tac-toe {
    order: 0;
}

#connect-4 {
    order: 1;
}

#guess-who {
    order: 2;
}

#crazy-8 {
    order: 3;
}

#forty-one {
    order: 4;
}